@model StoreFront.Models.Treat

<h4>Add a new Treat</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    @Html.LabelFor(model => model.Rating)
    <select id="Rating" name="Rating">
        <option value="1" class="star1">1</option>
        <option value="2" class="star2">2</option>
        <option value="3" class="star3">3</option>
        <option value="4" class="star4">4</option>
        <option value="5" class="star5">5</option>
    </select>

    @Html.Label("Select Flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Add new item" class="btn btn-default" />
}
